@import "reset.css";
BODY,
HTML,
#app {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
#app {
  text-align: center;
}
.rainbow {
  animation: rainbow 21s linear infinite;
}
@keyframes rainbow {
  0% {
    color: orangered;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellowgreen;
  }
  42% {
    color: green;
  }
  56% {
    color: aquamarine;
  }
  70% {
    color: cornflowerblue;
  }
  84% {
    color: purple;
  }
  100% {
    color: orangered;
  }
}
@-webkit-keyframes rainbow {
  0% {
    color: orangered;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellowgreen;
  }
  42% {
    color: green;
  }
  56% {
    color: aquamarine;
  }
  70% {
    color: cornflowerblue;
  }
  84% {
    color: purple;
  }
  100% {
    color: orangered;
  }
}
.headline {
  font-size: 48px;
  font-weight: bolder;
  padding-top: 120px;
  margin-bottom: 48px;
}
.title {
  font-size: 24px;
  font-weight: bolder;
  margin-top: 48px;
  margin-bottom: 16px;
}
.text {
  line-height: 22px;
}
.footnote {
  color: #9E9E9E;
  font-size: 12px;
  line-height: 20px;
}
.permission {
  margin-top: 48px;
  background: white;
  display: inline-block;
  padding: 24px;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
}
.permission .icon,
.permission .text {
  display: inline-block;
  vertical-align: middle;
}
.permission .text {
  text-align: left;
  margin-left: 32px;
}
.permission:hover {
  transform: scale(1.05);
}
.contributor .keyword,
.contributor .people {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  margin: 8px;
}
