.rainbow {
  animation: rainbow 21s linear infinite;
}
@keyframes rainbow {
  0% {
    color: orangered;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellowgreen;
  }
  42% {
    color: green;
  }
  56% {
    color: aquamarine;
  }
  70% {
    color: cornflowerblue;
  }
  84% {
    color: purple;
  }
  100% {
    color: orangered;
  }
}
@-webkit-keyframes rainbow {
  0% {
    color: orangered;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellowgreen;
  }
  42% {
    color: green;
  }
  56% {
    color: aquamarine;
  }
  70% {
    color: cornflowerblue;
  }
  84% {
    color: purple;
  }
  100% {
    color: orangered;
  }
}
.rainbow-background {
  animation: rainbow-background 21s linear infinite;
}
@keyframes rainbow-background {
  0% {
    background: orangered;
  }
  14% {
    background: orange;
  }
  28% {
    background: yellowgreen;
  }
  42% {
    background: green;
  }
  56% {
    background: aquamarine;
  }
  70% {
    background: cornflowerblue;
  }
  84% {
    background: purple;
  }
  100% {
    background: orangered;
  }
}
@-webkit-keyframes rainbow-background {
  0% {
    background: orangered;
  }
  14% {
    background: orange;
  }
  28% {
    background: yellowgreen;
  }
  42% {
    background: green;
  }
  56% {
    background: aquamarine;
  }
  70% {
    background: cornflowerblue;
  }
  84% {
    background: purple;
  }
  100% {
    background: orangered;
  }
}
